body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

.radio-options {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

input[type="radio"] {
  margin-right: 10px;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 700px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 4%;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.radio-options {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  margin-right: 10px;
}

button {
  background-color: #14afba; /* Green */
  border: none;
  color: white;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2f98cd; /* Darker green on hover */
}

p {
  font-size: 0.8rem;
}


#title {
    text-align: center;
    padding: 2%;
    font-size: 4.2em;
    background: linear-gradient(to right, rgb(19, 225, 225), rgb(10, 106, 106));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5) inset;
    border-bottom: 2px solid
      linear-gradient(to right, rgb(19, 225, 225), rgb(10, 106, 106));
  }
  
  #title:hover {
    animation: text-glow 0.5s ease-in-out forwards;
  }
  
  @keyframes text-glow {
    0% {
      text-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
    }
    100% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
