<!-- <h1 id="nav">{{ title }} <a class="links" routerLink="studentLogin"> {{loginInfo}} </a></h1> -->

<div class="navbardiv">
  <nav class="navbar">
    <div class="logo">{{ title }}</div>
    <div class="menu-toggle"><i class="fa-solid fa-bars"></i></div>
    <ul class="nav-list hide">
      <li><a routerLink="landing-page">Home</a></li>
      <li>
        <button mat-raised-button (click)="openDialogBox()">
          Online Aptitude Test
        </button>
      </li>
      <li>
        <a
          [routerLink]="
            isLoggedIn === false ? 'studentLogin' : 'expert-guidance'
          "
          >Expert Guidance</a
        >
      </li>
      <li>
        <a
          [routerLink]="
            isLoggedIn === false ? 'studentLogin' : 'informational-videos'
          "
          >Informational Videos</a
        >
      </li>
      <li>
        <a
          [routerLink]="
            isLoggedIn === false ? 'studentLogin' : 'scholarship-portal'
          "
          >Scholarships</a
        >
      </li>
      <li>
        <a
          [routerLink]="
            isLoggedIn === false ? 'studentLogin' : 'image-tutorials'
          "
          >Image Tutorials</a
        >
      </li>
      <li>
        <a
          [routerLink]="
            isLoggedIn === false ? 'studentLogin' : 'video-tutorials'
          "
          >Video Tutorials</a
        >
      </li>
      <li>
        <a
          [routerLink]="isLoggedIn === false ? 'studentLogin' : 'studentInfo'"
          >{{ loginInfo }}</a
        >
      </li>
    </ul>
  </nav>
</div>

<router-outlet (activate)="onActivate()"></router-outlet>
