<!-- <div class="nav-bar"></div> -->
<div class="container">
    <div class="text-container">
        <h1>
            Yug 
        </h1>
        <h2>
            Building a better future
        </h2>
        <p>Education, the cornerstone of individual and societal advancement, holds the power to unlock potential, bridge divides, and fuel progress. Yet, the concept of "quality education" remains an elusive ideal, subject to interpretation and shaped by context. What constitutes a good education in one place might fall short in another, highlighting the complexity of defining and pursuing this worthy goal.
        </p>
        <button (click)="goToLogin()"> Get Started
        </button>
    </div>
    <div class="image-container"><img src="assets/landing-page.png" alt="" srcset=""></div>
</div>