<h2>Upload your image below:</h2>
<br />
<input
  type="file"
  (change)="onFileChange($event)"
  [accept]="allowedFileTypes"
/>
<br />
<br />
<h2>Describe the image in a few sentences:</h2>
<br />
<textarea rows="5" cols="100"></textarea>
<br />
<br />
<button (click)="checkAnswer()">Check answer</button>
<br />
<br />
<h2 *ngIf="previewUrl">Preview:</h2>
<br />
<img *ngIf="previewUrl" [src]="previewUrl" alt="Preview" />
<br />
<br />
<h2 *ngIf="correctAnswer != ''">The image is about:</h2>
<p>{{ correctAnswer }}</p>
