<h1>Answer the questions given below:</h1>
<p>Timer is: {{timer}}</p>
<ol>
  <li>
    <span *ngFor="let questions of questionSet; let i = index">
      {{i + 1}}. <label id="example-radio-group-label">{{questions.question}} <br /></label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
      >
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let option of questions.options"
          [value]="option"
          (change)="onRadioChange($event, i)"
        >
          {{ option.value }}
        </mat-radio-button>
      </mat-radio-group>
    </span>
  </li>
</ol>

<button (click)="checkAnswers()">Submit</button>
