
* {
  padding: 0px;
  margin: 0px;
}

.logindiv {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(150, 257, 257);
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

/* login page */

.logindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 20px;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  min-width: 300px;
}

.login-container h2 {
  text-align: center;
  padding: 15px;
}

.login-form {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid rgb(150, 257, 257);
  /*#ccc; */
  border-radius: 5px;
  outline: none;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;

}

.form-group button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  margin: 5px 25% 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 40%;
}

.login-container .other-option {
  margin: 10px 0px;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
}

.other-option a {
  font-size: 0.8rem;
  flex-basis: 50%;
  text-align: center;
  color: #4caf50;
  text-decoration: none;
}
