/* reg. page */
*{
    margin: 0px;
    padding: 0px;
}

.regdiv{
    font-family: Arial, sans-serif;
    background-color: rgb(150,250,250);
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container {
    box-sizing: border-box;
    max-width: 900px;
    width: 800px;
    min-width: 350px;
    margin: 2rem 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container h1{
    text-align: center;
    padding: 1rem 0rem 2rem;
}

form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
}
.reg-group{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}


label {
    font-size: 1.2rem;
    padding: 0px 3px;
}

input {
    padding: 10px;
    border: 1px solid rgb(107, 239, 239);
    border-radius: 0.5rem;
    outline: none;
}

button {
    box-sizing: border-box;
    width: 50%;
    padding: 20px 10px;
    margin: 1rem 25%;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

   /* email: string,
    password: string,
    first Name: string,
    last Name: string,
    roll No: number,
    grade: number,
    address: string,
    fathers Name: string,
    mothers Name: string,
    phone Number: number,
    parent Phone Number: number */